.outterbox{
  background-color: rgb(241, 241, 241);
  font-family: 'REM', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.innerbox{
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  font-weight: 100;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.log{
  height: 300px;
  overflow-y: scroll;
  width: 90%;
  scrollbar-width: none;
  z-index: 0;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 2px black;
}

.log::-webkit-scrollbar {
  display: none;
}

table{
  width: 100%;
}

thead{
  position: sticky;
  top: 0;
}

.tht{
  background-color: rgb(101, 101, 240);
  color: white;
  cursor: default;
  font-weight: 400 !important;
}

th{
  text-align: center;
  font-weight: 200;
}

.btn-formatter{
  margin-top: 50px;
  margin-left: 70%;
}

button{
  margin: 0px 0px 0px 20px;
  width: 150px;
  border-radius: 0;
  font-weight: 200;
  border-bottom: 1px solid rgb(101, 101, 240);
}

.btn:hover{
  background-color: rgb(101, 101, 240);
  color: white;
}

.delete{
  color: red;
  border-bottom: 1px solid rgb(247, 80, 80);
}

.delete:hover{
  background-color: rgb(247, 80, 80);
  color: white;
}
